extends layout 

block content 
  h1= title 

  div.member-status
    if currentUser.member_status 
      p You are an Elite member! 
      a(href='/') Return to Home

    else 
      p Enter the password to become an Elite member.
      form(method='POST' action='')
        div.form-group 
          label(for='password') Password 
          input(type='password' name='password' aria-live="polite" required="true")
        button.submit-btn(type='submit') Submit


    hr
    if errors 
      ul 
        for error in errors 
          li!= error.msg
       
