extends layout

block content
  h1= title

  if user 
    p Welcome back #{user.name} 
  
  else 
    a(href='/user/login') Login

  hr 

  if user 
    div.footer-member
    if user.member_status===false  
      a(href='/user/become-elite') Become Elite  
    if user.member_status===true 
      a(href='/post/create') Create Post 
      
    div.footer-logout
      a(href='/user/logout') Log Out
