extends layout

block content
  h1= title

  if user 
    p Welcome back #{user.fullname}
  
  else 
    a(href='/user/login') Login

  br
  hr 
  br

  if user   
    div.footer-logout
      a(href='/user/logout') Log Out
