extends layout

block content
  h1= title

  if user 
    p Welcome back #{user.fullname}
  
  else 
    a(href='/login') Login

  hr 

  if user   
    div.footer-logout
      a(href='/logout') Log Out
