extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group 
      label(for='title') Title 
      input(type='text' name='title' placeholder='Post title' required='true')
    div.form-group 
      label(for='post') Post 
      input(type='textarea' name='post' placeholder='Post text' required='true')
    button.submit-btn(type='submit') Save Post
